@layer components {
	.task-card {
		@apply mx-4 flex transform cursor-pointer flex-col rounded-lg border border-neutral-800 bg-neutral-800 p-4 shadow;
		&:hover {
			@apply border border-neutral-700;
		}
	}
	.task-card-hover {
		@apply transition-transform duration-150 ease-in-out hover:-translate-y-1;
	}

	.tickup-datepicker input::placeholder {
		@apply dark:!text-neutral-400;
	}

	#datepicker-dropdown > div {
		@apply !bg-neutral-800;
	}

	.tickup-datepicker {
		input {
			@apply w-32 pl-8 focus:!ring-0 dark:!text-neutral-400;
		}
		svg {
			@apply !size-3 dark:!text-neutral-400;
		}
		button.absolute {
			@apply left-0 right-auto;
			> svg {
				@apply !text-accent-purple-2;
			}
		}
	}
	.tickup-select {
		--chevron-width: 1rem;
		--chevron-height: 1rem;
		@apply !w-fit !min-w-24 !px-3 dark:!border-neutral-700 dark:!bg-neutral-900 dark:!text-neutral-400 dark:hover:[&:not(:has(.svelte-select-list:hover))]:!bg-neutral-800;
		&:has(.clear-select) {
			@apply !pr-0;
		}
		& .selected-item {
			@apply !pr-0;
		}
		.chevron {
			@apply translate-x-1;
		}
		& .clear-select {
			+ .chevron {
				@apply hidden;
			}
		}
		& .item {
			@apply h-8 !cursor-pointer !border-none !bg-neutral-900 !px-3;

			&.active {
				@apply dark:!bg-neutral-800 dark:!text-neutral-400;
			}

			&.hover {
				@apply !cursor-pointer !bg-neutral-700;
			}
		}

		& .clear-select {
			@apply !w-8 !cursor-pointer;

			&:focus {
				@apply !outline-0;
			}

			svg {
				@apply h-4 w-4 cursor-pointer dark:!text-neutral-400;
			}

			&:hover svg {
				@apply dark:!text-neutral-200;
			}
		}

		& .svelte-select-list {
			@apply !w-fit !bg-transparent !shadow-none;
		}

		& input:focus {
			@apply !shadow-none !outline-none !ring-0;
		}

		& input {
			@apply !cursor-pointer !text-xs dark:!text-neutral-400;
		}

		[slot='selection'] {
			@apply flex items-center gap-1 text-xs;
		}

		[slot='item'] {
			@apply flex h-full items-center gap-1.5 text-xs;
		}
	}

	.tickup-select input::placeholder {
		@apply bg-no-repeat dark:!text-neutral-400;
	}

	/* Drag and Drop */
	.drag-card {
		@apply border border-neutral-700 opacity-95 shadow-lg !important;
		@apply rotate-2;
	}

	/* Custom Scrollbar */
	.custom-scrollbars {
		/* // for firefox */
		&.firefox {
			scrollbar-color: rgb(220, 220, 220) transparent;
		}
		&.firefox.dark {
			scrollbar-color: rgb(159, 159, 159) transparent;
		}

		/* // for webkit */
		& ::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
		& ::-webkit-scrollbar-button {
			background-color: transparent;
			height: 2px;
		}
		& ::-webkit-scrollbar-track {
			background-color: transparent;
		}
		&.dark ::-webkit-scrollbar-track {
			background-color: transparent;
		}
		& ::-webkit-scrollbar-track-piece {
			background-color: transparent;
		}
		&.dark ::-webkit-scrollbar-track-piece {
			background-color: transparent;
		}
		& ::-webkit-scrollbar-thumb {
			height: 10px;
			border-radius: 4px;
			background-color: rgb(220, 220, 220);
		}
		&.dark ::-webkit-scrollbar-thumb {
			background-color: rgb(159, 159, 159);
		}
		& ::-webkit-scrollbar-corner {
			background-color: rgb(220, 220, 220);
		}
		&.dark ::-webkit-scrollbar-corner {
			background-color: rgb(159, 159, 159);
		}
		& ::-webkit-resizer {
			background-color: rgb(220, 220, 220);
		}
		&.dark ::-webkit-resizer {
			background-color: rgb(159, 159, 159);
		}
	}
}

/* tickup date picker */
.tickup-datepicker {
	@apply [&_#datepicker-dropdown]:!fixed [&_#datepicker-dropdown]:-translate-x-36 [&_#datepicker-dropdown]:-translate-y-[370px];
	@apply dark:[&_.bg-primary-700:hover]:!bg-neutral-500 dark:[&_.bg-primary-700]:!bg-neutral-700;
	@apply dark:[&_.bg-red-700:hover]:!bg-neutral-500 dark:[&_.bg-red-700]:!bg-neutral-700;
	@apply [&_input]:h-8;
	@apply dark:[&_input]:dark:!border-neutral-700;
	@apply dark:[&_input]:bg-neutral-900;
	@apply dark:[&_button]:dark:focus-within:!ring-0;

	[aria-label='Previous month'],
	[aria-label='Next month'] {
		@apply dark:!bg-neutral-600;
	}
	.grid {
		[aria-selected='true'] {
			@apply dark:!bg-accent-purple-1;
		}
		button {
			@apply dark:!border-neutral-600 dark:!text-neutral-400 dark:hover:!bg-neutral-600;
		}
		.dark\:text-gray-600 {
			@apply dark:!text-neutral-600;
		}
		[role='columnheader'] {
			@apply dark:!text-neutral-400;
		}
	}
}

/* tiptap placeholder */

.tiptap {
	p.is-editor-empty:first-child::before {
		color: theme('colors.neutral.400');
		content: attr(data-placeholder);
		float: left;
		height: 0;
		pointer-events: none;
	}
	input[type='checkbox'] {
		&:checked {
			color: #c3c3c3;
			background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='%233b3b3b' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3e %3c/svg%3e");
		}
		&:focus,
		&:focus-visible {
			@apply outline-0 ring-0 ring-offset-0;
		}
		appearance: none;
		background: #3b3b3b;
		width: 0.8rem;
		height: 0.8rem;
	}
	/* label {
    @apply flex;
    @apply items-start;
    @apply self-start;
  } */
}

[contenteditable='true']:has(.ProseMirror-trailingBreak):before,
[contenteditable='false']:before {
	content: attr(data-placeholder-text);
	color: #b4b4b4;
	cursor: text;
	position: absolute;
}
